body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_container {
    width: 100%;
    border: 1px solid #000;
    height: 150px;
    background-color: black;
}

.header_container_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container_item {
    color: white;
    margin: 10px;
}

.main_container {
    width: 100%;
    border: 1px solid red;
    height: 150px;
    background-color: red;
}

.main_container_items {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.main_container_item {
    color: #000;
    margin: 10px;
}

.footer_container {
    width: 100%;
    border: 1px solid yellow;
    height: 150px;
    background-color: yellow;
    margin-bottom: 120px;
}

.footer_container_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_container_item {
    color: blue;
    padding: 10px;
}

.another_container {
    width: 100%;
    height: 150px;
    background: blue;
}

.another_container2 {
    width: 100%;
    height: 150px;
    background-color: yellow;
}